@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

:root {
  --primary-color: #bc4123;
  --secondary-color: #121212;
}

body {
  margin: 0;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  color: cornsilk; 
}

/* Remove margin and background-color from "*" selector */
* {
  box-sizing: border-box;
  /* background-color: cornsilk; */
  
}

/* Styles for desktop screens */
@media only screen and (min-width: 768px) {
  /* Add your desktop styles here */
}

/* Styles for tablet screens */
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .homepage-image {
    max-width: 100%; /* Full width on mobile devices */
  }
  /* Add your tablet styles here */
}

/* Styles for mobile screens */
@media only screen and (max-width: 479px) {
  /* Add your mobile styles here */
}

/* navbar */
header nav {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  max-width: 1200px;
  margin: 0 auto;
  background-color: black;
  color: #fff;
  padding: 10px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid black;
}
header nav a{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  color: #fff;
  margin: 0 10px;
}
header nav a.active {
  /* var(--primary) */
  
  font-weight: bold;
}

/* page content */
main {
  max-width: 1200px;
  margin: 40px auto;
}
img{
  height: 300px;
  
}
.card{
  background-color: cornsilk;
}